/* src/styles/stylesAppReset.css*/

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

.appContainer {
	margin: 0;
	width: 80%;
	max-width: 900px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
