/* src/pages/Qualidade/Qualidade.module.css */

.qualidadePage {
	display: flex;
	min-height: 100vh;
	background-color: #f3f4f6;
}

/* Sidebar */
.sidebar {
	width: 250px;
	flex-shrink: 0;
	background-color: #938a8a;
	border-right: 1px solid #e0e0e0;
	padding: 1rem;
	overflow-y: auto;
	color: white;
}

/* Responsividade */
@media (max-width: 768px) {
	.sidebar {
		display: none;
	}
}
