/* Navbar.module.css  */

.navbar {
	background-color: var(--cor-primaria);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
	z-index: 1030;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.imgNavbar {
	height: 48px;
	width: auto;
}

.imgAvatar {
	height: 48px;
	width: 48px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--cor-secundaria);
	cursor: pointer;
	transition: all 0.2s ease;
}

.imgAvatar:hover {
	color: var(--cor-secundaria);
	font-weight: 500;
	transform: scale(1.08);
	border-color: #fff;
}

.navLink {
	color: var(--cor-secundaria);
	font-weight: 500;
	transition: color 0.2s ease;
}

.navLink:hover,
.navLink:active {
	color: #fff;
}

.navLogo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* Dropdown menu */
