.qualidade-page {
	display: flex;
	min-height: 100vh;
	background-color: #f9fafb; /* fundo brando */
}

.sidebar {
	width: 250px;
	flex-shrink: 0;
	background-color: #fff;
}

.main {
	flex: 1;
	padding: 1rem;
}

/* Responsivo: sidebar some em telas pequenas */
@media (max-width: 768px) {
	.sidebar {
		display: none;
	}

	.main {
		padding: 1rem;
	}
}

@media (min-width: 769px) {
	.main {
		padding: 2rem;
	}
}
