/* Footer.css */

.footer {
	background-color: var(--cor-primaria);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	position: fixed;
	margin-top: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}

footer span {
	color: var(--cor-secundaria);
}
